<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body class="<%= page %>">
    <% include partials/template/header.ejs %>
    <section class="layout">
      <div class="primary">
      <section class="video"> 
        <video src="images/video/TEASER.mp4" width="90%" height="400" autobuffer autoloop loop controls poster="/images/video.png"></video>
        <video src="images/video/PART 1.mp4" width="90%" height="400" autobuffer autoloop loop controls poster="/images/video.png"></video>
        <video src="images/video/PART 2.mp4" width="90%" height="400" autobuffer autoloop loop controls poster="/images/video.png"></video>
        <video src="images/video/PART 2.mp4" width="90%" height="400" autobuffer autoloop loop controls poster="/images/video.png"></video>
        <video src="images/video/PART 4.mp4" width="90%" height="400" autobuffer autoloop loop controls poster="/images/video.png"></video>
        </section>
      </div><!-- primary -->
      <aside class="secondary">
        <% include partials/content/nextmeeting.ejs %>
        <% include partials/content/artworklist.ejs %>
      </aside><!-- secondary -->
    </section><!-- layout -->
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>